#container {
    border: 1px solid gray;
    border-radius: 10%;
    width: 200px;
    height: 200px;
  }
  
  #container > * {
    margin: 10px;
    width: 90%;
    border-radius: 10%;
  }
  .box {
    height: 70%;
    background-color: red;   
  }