#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.button-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto auto;
  gap: 10px;
}